# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
inst.md
__pycache__/
.env
backend/.env
frontend/.env
todo.md
sidewalk_model.onnx.data
sidewalk_model.onnx
debug/
.DS_Store