{
    email xfn@mail.ru
}

mobimpai.ru, www.mobimpai.ru {
    encode zstd gzip

    handle_path /api/* {
        reverse_proxy backend:8000 {
            transport http {
                read_timeout 300s
                write_timeout 300s
            }
        }
    }

    handle {
        reverse_proxy frontend:80
    }
}
