.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header-wrapper {
  background: url("./assets/main.png") no-repeat center top / cover;
  padding-top: 60px;
  padding-bottom: 137px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
  transition: 0.4s ease-in-out;

  &:hover {
    border-bottom: 1px solid #fa692a;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 23px;
}

.cta {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 18px 3px 19px;
  background-color: #fff;
  border-radius: 500px;
  display: block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.4s ease-in-out;

  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(250, 105, 42, 0.5);
  }
}

.menu-controls {
  display: flex;
  align-items: center;
  gap: 28px;
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer-wrapper {
  margin-top: 226px;
  display: flex;
  align-items: center;
  gap: 26px;
}

.offer-left h4 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  width: fit-content;
}

.offer-left h1 {
  color: #fff;
  font-weight: 700;
  font-size: 128px;
  width: fit-content;
  line-height: 153px;
  margin-left: -11px;
}

.offer-left {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.offer-right h3 {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  width: 453px;
}

.offer-right p {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  line-height: 140%;
  width: 446px;
  margin-top: 21px;
}

.offer-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features-wrapper {
  margin-top: 198px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num p {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.num span {
  color: #fa692a;
  font-style: italic;
  font-size: 24px;
  font-weight: 700;
  margin-right: 2px;
}

.num {
  display: flex;
  align-items: center;
}

.feature-name {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 26px 26px 26px 24.5px;
  border-radius: 8px;
  background-color: rgba(250, 105, 42, 0.12);
  border: 1px solid rgba(250, 105, 42, 0.26);
  box-shadow: 0 10px 20px 0 rgba(250, 105, 42, 0.5);
}

.abt-wrapper {
  background: url("./assets/bg-map.png") no-repeat center top / cover;
  padding-top: 60px;
  padding-bottom: 183px;
}

.abt-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abt-para h3 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  width: 455px;
  text-align: left;
}

.abt-para p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 140%;
  text-align: left;
  width: 455px;
}

.abt-para {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  margin-top: 266px;
  margin-left: 705px;
}

.abt-offer p {
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.abt-offer h1 {
  font-weight: 700;
  font-size: 128px;
  line-height: 153%;
  color: #fff;
}
.abt-offer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 46px;
}

.mission-wrapper {
  padding-top: 60px;
  padding-bottom: 124px;
  background-color: #000;
}

.mission-title p {
  color: #fa692a;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.mission-title h1 {
  font-weight: 700;
  color: #fff;
  font-size: 96px;
  line-height: 115%;
  width: 447px;
  text-align: left;
}

.mission-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mission-desc p {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  width: 364px;
}

.mission-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 62px;
}

.mission-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.mission-card {
  padding: 22px 14px 17px 20px;
  border-radius: 12px;
  background-color: rgba(33, 33, 33, 0.7);
  border: 1px solid rgba(217, 217, 217, 0.26);
  width: 264px;
  box-shadow: 0 10px 20px 0 rgba(250, 105, 42, 0.2);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

.mission-num {
  font-weight: 700;
  color: #fa692a;
  font-size: 16px;
  margin-bottom: 11px;
}

.mission-card-text h3 {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 9px;
}

.mission-card-text p {
  font-weight: 400;
  font-size: 13px;
  width: 230px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  line-height: 16px;
}

.mission-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mission-cards-wrap {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-left: 296px;
  margin-top: 41px;
}

.footer-wrapper {
  overflow: hidden;
  padding-top: 129px;
  padding-bottom: 71px;
  background: url("./assets/footer.png") no-repeat center top / cover;
}

.footer-offer p {
  font-weight: 200;
  font-size: 96px;
  line-height: 115%;
  width: 730px;
  color: #fff;
  text-align: left;
}

.footer-offer span {
  font-weight: 600;
  color: #fa692a;
}

.footer-offer-right p {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  text-align: left;
  width: 407px;
  margin-bottom: 42px;
}

.footer-offer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 330px;
  margin-top: 150px;
  line-height: 402px;
  display: flex;justify-content: center;
}

.footer-bottom p {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.footer-bottom a {
  margin-left: 301px;
}

.footer-bottom {
  margin-top: 21px;
  display: flex;
  align-items: center;
}

.exp-wrapper {
  background: url("./assets/exp-bg.png") no-repeat center top / cover;
  padding-top: 60px;
}

.exp-subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #fa692a;
  margin-bottom: 35px;
}

.exp-title {
  color: #fff;
  font-weight: 700;
  font-size: 64px;
  width: 100%;
  margin-bottom: 57px;
}

.exp-text {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 59px;
  width: 975px;
  color: rgba(255, 255, 255, 0.5);
}

.exp-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 73px;
}